.event {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.event_name{
    font-size:1.3rem;
    font-weight: 600;
    text-shadow: 2px 2px 2px #aaa;
}

.btns{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.btn{
    flex-grow: 3;
}
